In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt

from helper import to_df, get_domain_size
from tree_weight import *

from typing import List

In [14]:
%%time
tree = 'trees/golomb_5_1.sqlite'
info_df = to_df(tree, 'info').set_index('NodeID')
nodes_df = to_df(tree, 'nodes').set_index('NodeID')

# test_df = pd.DataFrame.copy(nodes_df)

assign_weights(nodes_df, uniform_scheme)
# assign_weights(test_df, domain_weight_scheme, info_df=info_df)

# (test_df['NodeWeight'] != nodes_df['NodeWeight']).sum()

CPU times: user 95.8 ms, sys: 546 Âµs, total: 96.3 ms
Wall time: 95 ms

In [21]:
nodes_df.iloc[22:, :]

        ParentID  Alternative  NKids  Status         Label  NodeWeight
NodeID
22             1            0     17       2   mark[3] = 3    0.002381
23             1            1      4       2   mark[3] = 4    0.002381
24             1            2      0       1   mark[3] = 5    0.002381
25             1            3      0       1   mark[3] = 6    0.002381
26             1            4      0       1   mark[3] = 7    0.002381
27             1            5      0       1                  0.002381
28             1            6      0       1                  0.002381
29             1            7      0       1                  0.002381
30             1            8      0       1                  0.002381
31             1            9      0       1                  0.002381
32             1           10      0       1                  0.002381
33             1           11      0       1                  0.002381
34             1           12      0       1                  0.002381
35             1           13      0       1                  0.002381
36             1           14      0       1                  0.002381
37             1           15      0       1                  0.002381
38             1           16      0       1                  0.002381
39             1           17      0       1                  0.002381
40             1           18      0       1                  0.002381
41             1           19      0       1                  0.002381
42            22            0     14       2   mark[4] = 7    0.000140
43            22            1      0       1   mark[4] = 8    0.000140
44            22            2      0       1   mark[4] = 9    0.000140
45            22            3      0       1                  0.000140
46            22            4      0       1                  0.000140
47            22            5      0       1                  0.000140
48            22            6      0       1                  0.000140
49            22            7      0       1                  0.000140
50            22            8      0       1                  0.000140
51            22            9      0       1                  0.000140
52            22           10      0       1                  0.000140
53            22           11      0       1                  0.000140
54            22           12      0       1                  0.000140
55            22           13      0       1                  0.000140
56            22           14      0       1                  0.000140
57            22           15      0       1                  0.000140
58            22           16      0       1                  0.000140
59            42            0      0       0  mark[5] = 12    0.000010
60            42            1      0       1                  0.000010
61            42            2      0       1                  0.000010
62            42            3      0       1                  0.000010
63            42            4      0       1                  0.000010
64            42            5      0       1                  0.000010
65            42            6      0       1                  0.000010
66            42            7      0       1                  0.000010
67            42            8      0       1                  0.000010
68            42            9      0       1                  0.000010
69            42           10      0       1                  0.000010
70            42           11      0       1                  0.000010
71            42           12      0       1                  0.000010
72            42           13      0       1                  0.000010
73            23            0      0       1   mark[4] = 6    0.000595
74            23            1      0       1   mark[4] = 7    0.000595
75            23            2      0       1   mark[4] = 8    0.000595
76            23            3      0       0   mark[4] = 9    0.000595

In [25]:
1 / 21 / 20 / 17 / 14

1.0004001600640255e-05

In [ ]:
test_df

In [10]:
pd.concat([info_df, nodes_df], axis=1)

,Info,ParentID,Alternative,NKids,Status,Label,NodeWeight
NodeID,,,,,,,
0,"{\n\t""domains"": ""var 4..16: X_INTRODUCED_3_;\n...",-1,-1,13,2,,1.000000
1,"{\n\t""domains"": ""var 5..16: X_INTRODUCED_3_;\n...",0,0,12,2,mark[2] = 1,0.076923
2,NaN,0,1,0,3,,0.076923
3,NaN,0,2,0,3,,0.076923
4,NaN,0,3,0,3,,0.076923
5,NaN,0,4,0,3,,0.076923
6,NaN,0,5,0,3,,0.076923
7,NaN,0,6,0,3,,0.076923
8,NaN,0,7,0,3,,0.076923
9,NaN,0,8,0,3,,0.076923
10,NaN,0,9,0,3,,0.076923
11,NaN,0,10,0,3,,0.076923
12,NaN,0,11,0,3,,0.076923
13,NaN,0,12,0,3,,0.076923
14,"{\n\t""domains"": ""var 7..16: X_INTRODUCED_3_;\n...",1,0,10,2,mark[3] = 3,0.006410
15,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",1,1,0,0,mark[3] = 4,0.006410
16,NaN,1,2,0,3,,0.006410
17,NaN,1,3,0,3,,0.006410
18,NaN,1,4,0,3,,0.006410
19,NaN,1,5,0,3,,0.006410
20,NaN,1,6,0,3,,0.006410
21,NaN,1,7,0,3,,0.006410
22,NaN,1,8,0,3,,0.006410
23,NaN,1,9,0,3,,0.006410
24,NaN,1,10,0,3,,0.006410
25,NaN,1,11,0,3,,0.006410
26,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 7;...",14,0,0,0,mark[4] = 7,0.000641
27,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,1,0,1,,0.000641
28,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,2,0,1,,0.000641
29,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,3,0,1,,0.000641
30,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,4,0,1,,0.000641
31,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,5,0,1,,0.000641
32,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,6,0,1,,0.000641
33,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,7,0,1,,0.000641
34,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,8,0,1,,0.000641
35,"{\n\t""domains"": ""var int: X_INTRODUCED_3_ = 6;...",14,9,0,1,,0.000641

In [ ]:
x = info_df.loc[6, 'Info'].replace("\n", "").replace("\t", "") # replace new lines and tabs
x = x.strip('{"domains": ').strip('"}') # strip JSON notation
x = x.split(';')[:-1]

info_dict = {}
for i in range(len(x)):
    x[i] = x[i].strip("var ")
    domain, varname = x[i].split(': ')
    if '..' in domain:
        start, end = (int(num) for num in domain.split('..'))
        info_dict[varname] = range(start, end + 1)
    else:
        varname, value = varname.split(" = ")
        if str.isdigit(value):
            info_dict[varname] = range(int(value), int(value) + 1)
        else:
            info_dict[varname] = value

info_dict.values()
size = 1
for domain_range in info_dict.values():
    size *= len(domain_range)

print(size)